# ignore all files starting with .
.*
MapaCurvas.html
*.html

# Track .env example
!.env.example
!.gitignore

node_modules/

.venv/
__pycache__

# ignore compiled executables
*.exe
dist/
build/
__pycache__/
.venv/
.env
*.pyc

# Projects data
projects/*
!projects/.gitkeep
!projects/Proyecto_Ejemplo.xls