[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
folium = "*"
geocoder = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
xlrd = "*"
mpu = "*"
pyproj = "*"
openpyxl = "*"
branca = "*"
pyinstaller = "*"
flask = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "*"
