[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
folium = "0.12.1"
geocoder = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
xlrd = "*"
mpu = "*"
pyproj = "*"
openpyxl = "*"
python-math = "*"
pyinstaller = "*"
jsonschema = "*"
nbconvert = "*"
gevent = "*"
importlib-metadata = "*"
branca = "*"
gdal = {path = "./GDAL-3.3.3-cp39-cp39-win_amd64.whl"}
fiona = {path = "./Fiona-1.8.20-cp39-cp39-win_amd64.whl"}
geopandas = {path = "./geopandas-0.10.2-py2.py3-none-any.whl"}

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
